@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
    .container-1 {
        @apply border-4 bg-blue-300;
    }

    .container-2 {
        @apply border-2 bg-blue-100;
    }

    .container-3 {
        @apply border-2 bg-blue-200;
    }

    .container-success {
        @apply bg-green-400;
    }

    .container-neutral {
        @apply bg-gray-300;
    }

    .container-failed {
        @apply bg-red-400;
    }

    .container-item {
        @apply border-2 border-black border-double
    }

    .text-warning {
        @apply text-red-600 font-bold;
    }

    .text-bold-1 {
        @apply font-bold
    }
}

* {
    margin: 1px;
    padding: 2px;
}

button {
    padding: 5px;
    border: 1px solid black;
}